<html lang="kor">
<head><%- include('./partials/head.ejs') %></head>
<body>
    <div class="ModalGroups">
        <%- include('./partials/modal/Alert_Invitation_Preview.ejs') %>
        <%- include('./partials/modal/Alert_Invitation_Save.ejs') %>
        <%- include('./partials/modal/Alert_Crop_Img.ejs') %>
        <%- include('./partials/modal/Alert_Gallery_Preview.ejs') %>
        <%- include('./partials/modal/Alert_Board_Create.ejs') %>
        <%- include('./partials/modal/Alert_Board_List.ejs') %>
        <%- include('./partials/modal/Alert_Board_Delete.ejs') %>
    </div>

    <!-- 헤더 -->
    <%- include('./partials/header.ejs') %>

        <div class="main_contents">
            <div id="overlay">
                <div id="loader"></div>
            </div>
            <!-- 좌측 네비게이션 -->
            <%- include('./partials/template.ejs') %>

            <!-- 우측 네비게이션 -->
            <div class="right_contents">
                <div class="RightContentsArea">
                    <!-- Section 1 디자인 포멧 선택 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #1
                                </div>
                                <div class="section-title">
                                    디자인 선택
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                모바일 청첩장의 전체적인 디자인을 이곳에서 수정 하실 수 있어요 :)
                            </div>
                        </div>
                        <div class="contents_detail">
                            <!-- 디자인 테마 선택 -->
                            <!-- 디자인 테마 선택 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">디자인 테마 선택</label>
                                <div class="TabUI">
                                    <ul class="TabListDesign">
                                        <li class="TabItemDesign <% if (Templatedata.data.theme_type === 'DesignArch' || Templatedata.data.theme_type === null || Templatedata.data.theme_type === '') { %>Active<% } %>"
                                            id="DesignArch">아치</li>
                                        <li class="TabItemDesign <% if (Templatedata.data.theme_type === 'DesignTrip') { %>Active<% } %>"
                                            id="DesignTrip">여정</li>
                                        <li class="TabItemDesign <% if (Templatedata.data.theme_type === 'DesignTogether') { %>Active<% } %>"
                                            id="DesignTogether">투게더</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- BGM 적용 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">배경음악 적용</label>
                                <div class="TabUI">
                                    <ul class="TabListBGM">
                                        <li class="TabItemBGM <% if (Templatedata.data.BGM_type === 'NoneAudio' || Templatedata.data.BGM_type === '' || Templatedata.data.BGM_type === null ) { %>Active<% } %>"
                                            id="NoneAudio">적용 안함</li>
                                        <li class="TabItemBGM <% if (Templatedata.data.BGM_type === 'BaseAudio_1') { %>Active<% } %>"
                                            id="BaseAudio_1">기본 배경음1</li>
                                        <label class="BgmUpload_Btn" for="BGMBtn">
                                            <input type="file" id="BgmBtn" name="upload" multiple="multiple"
                                                class="form-control user_picked_files"
                                                accept="image/jpeg, image/png, image/jpg" />
                                            <label class="attatch" for="BGMBtn">직접 업로드</label>
                                        </label>
                                    </ul>
                                </div>
                            </div>

                            <!-- 이펙트 적용 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">효과 적용</label>
                                <div class="TabUI">
                                    <ul class="TabListEffect">
                                        <li class="TabItemEffect <% if (Templatedata.data.effect_type === 'CherryblossomEffect' || Templatedata.data.effect_type === '' || Templatedata.data.effect_type === null ) { %>Active<% } %>"
                                            id="CherryblossomEffect">벚꽃 효과</li>
                                        <li class="TabItemEffect <% if (Templatedata.data.effect_type === 'SnowEffect') { %>Active<% } %>"
                                            id="SnowEffect">눈 효과</li>
                                        <li class="TabItemEffect <% if (Templatedata.data.effect_type === 'NoneEffect') { %>Active<% } %>"
                                            id="NoneEffect">효과 없음</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">서체 선택</label>

                                <div class="custom-select-container" id="custom-select-container">
                                    <select class="custom-select" id="custom-select">
                                        <option value="GowunDodum-Regular" <% if
                                            (Templatedata.data.font_type==='GowunDodum-Regular' ||
                                            Templatedata.data.font_type==='' || Templatedata.data.font_type===null) { %>
                                            selected<% } %>>고운돋움</option>
                                        <option value="Chosunilbo_myungjo" <% if
                                            (Templatedata.data.font_type==='Chosunilbo_myungjo' ) { %>selected<% } %>
                                                >조선일보명조</option>
                                        <option value="MapoFlowerIsland" <% if
                                            (Templatedata.data.font_type==='MapoFlowerIsland' ) { %>selected<% } %>>마포꽃섬
                                        </option>
                                        <option value="pretendard" <% if (Templatedata.data.font_type==='pretendard' ) {
                                            %>selected<% } %>>프리텐다드</option>
                                    </select>
                                    <div class="custom-options" id="custom-options">
                                        <div class="custom-option" data-value="GowunDodum-Regular" id="TypeGowun">
                                            <div class="OptionTitle">고운돋움</div>
                                            <div class="optiondecription">하늘을 헤엄치는 구름처럼</div>
                                        </div>
                                        <div class="custom-option" data-value="Chosunilbo_myungjo" id="TypeChosunilbo">
                                            <div class="OptionTitle">조선일보명조</div>
                                            <div class="optiondecription">하늘을 헤엄치는 구름처럼</div>
                                        </div>
                                        <div class="custom-option" data-value="MapoFlowerIsland" id="TypeMapo">
                                            <div class="OptionTitle">마포꽃섬</div>
                                            <div class="optiondecription">하늘을 헤엄치는 구름처럼</div>
                                        </div>
                                        <div class="custom-option" data-value="pretendard" id="TypePretendard">
                                            <div class="OptionTitle">프리텐다드</div>
                                            <div class="optiondecription">하늘을 헤엄치는 구름처럼</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">글자 크기</label>
                                <div class="TabUI">
                                    <ul class="TabListFont">
                                        <li class="TabItemFont <% if (Templatedata.data.font_size === 14 || Templatedata.data.font_size === '' || Templatedata.data.font_size === null) { %>Active<% } %>"
                                            value="14" data-tab="Tab-1">기본</li>
                                        <li class="TabItemFont <% if (Templatedata.data.font_size === 15) { %>Active<% } %>"
                                            value="15" data-tab="Tab-2">중간</li>
                                        <li class="TabItemFont <% if (Templatedata.data.font_size === 16) { %>Active<% } %>"
                                            value="16" data-tab="Tab-3">크게</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Section 메인 꾸미기 선택 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #2
                                </div>
                                <div class="section-title">
                                    메인 꾸미기
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                메인화면과 카카오톡 공유하기에서 보이게 될 정보들을 이곳에서 작성하실 수 있어요
                            </div>
                        </div>
                        <div class="contents_detail">

                            <!-- 청첩장 URL 입력란
                        <div class="selectbox_detail">
                            <label class="selectbox_label" for="file">청첩장 URL(필수)</label>
                            <div class="InputArea">
                                <div class="NameBox">
                                    <input class="base" id="InputURL" name="base" type="base" onkeyup="printURL()"
                                        placeholder="URL 입력">
                                    <button class="BtnBasic" id="URL_Btn">
                                        URL 등록
                                    </button>
                                </div>
                                <div class="inputdescription">
                                    <span class="DefaultUrl">https://foment.co.kr/</span>
                                    <span class="CustomUrl" id="CustomUrl"></span>
                                </div>
                                <div class="info">※ 영문,숫자 및 일부 특수문자(&+-)만 사용 가능합니다.</div>
                            </div>
                        </div> -->
                            <!-- 청첩장 제목 입력란 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">청첩장 제목</label>
                                <div class="NameBox">
                                    <input class="base" id="InvitationTitleInput" name="base" type="base"
                                        onkeyup="InvitationTitleInput()" placeholder="청첩장 제목을 입력하세요"
                                        data-value="<%= Templatedata.data.invitation_title %>"
                                        value="<%= Templatedata.data.invitation_title %>">
                                </div>
                            </div>
                            <!-- 대표이미지, 공유이미지 영역 -->
                            <div class="ImgSection">
                                <div class="TitleImgSection">
                                    <div class="sectiondes">
                                        <label class="selectbox_label" for="file">대표이미지 등록 (필수)</label>
                                        <div class="info">
                                            98x98픽셀 이상, 4MB 이하의 사진이 권장됩니다.<br>PNG 또는 JPG 파일을 사용하세요.
                                        </div>
                                    </div>

                                    <!-- 메인 사진업로드 -->
                                    <div class="KakaoSection">
                                        <div class="photo_box">
                                            <label class="upload_btn" for="photoBtn">
                                                <div class="upload">
                                                    <div class="uploadarea">
                                                        <div class="edit">
                                                            <label class="AttatchTitleImg" for="photoBtn">클릭 후
                                                                업로드</label>
                                                        </div>
                                                        <% if (Templatedata.data.title_upload_img===null) { %>
                                                            <img class="uploadsrc" id="TitleImgUpload"
                                                                src="/Resource/mainasset/WeddingTitleImg.jpg" alt="">
                                                            <% } else { %>
                                                                <img class="uploadsrc" id="TitleImgUpload"
                                                                    src="<%= Templatedata.data.title_upload_img %>"
                                                                    alt="">
                                                                <% } %>
                                                    </div>
                                                    <input type="file" name="images"
                                                        accept="image/jpeg, image/png, image/jpg" capture="camera"
                                                        id="photoBtn">
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <!-- 카카오 공유하기 미리보기 -->
                                <div class="TitleImgSection">
                                    <div class="sectiondes">
                                        <label class="selectbox_label" for="file">카카오 공유화면 미리보기 예시</label>
                                        <div class="info">
                                            대표 이미지를 등록하시면<br>카카오 공유하기 화면이 위와 같이 노출됩니다.
                                        </div>
                                    </div>
                                    <!-- 메인 사진업로드 -->
                                    <div class="kakaoShareArea">
                                        <div class="KakaoSection">
                                            <div class="KaKaoShare">
                                                <% if (Templatedata.data.title_upload_img===null) { %>
                                                    <img class="KaKaosrc" id="KaKaosrc"
                                                        src="/Resource/mainasset/WeddingTitleImg.jpg" alt="">
                                                    <% } else { %>
                                                        <img class="KaKaosrc" id="KaKaosrc"
                                                            src="<%= Templatedata.data.title_upload_img %>" alt="">
                                                        <% } %>
                                                            <div class="ShareText">
                                                                <div class="kakaoTitle">1월14일 현석 ♥ 성희 결혼합니다.</div>
                                                                <div class="buttonGroups">
                                                                    <div class="buttonArea">모바일 청첩장</div>
                                                                    <div class="buttonArea">위치 보기</div>
                                                                </div>
                                                                <div class="FomentArea">
                                                                    <div class="corparea">
                                                                        <div class="Corplogo">
                                                                            <img src="../Resource/assets/Icon/icon_tmap.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="corpname">포먼트 모바일 청첩장</div>
                                                                    </div>
                                                                    <div class="Corpicon">
                                                                        <img src="../Resource/assets/Icon/Arrow.svg"
                                                                            alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section 신랑측 정보 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #3
                                </div>
                                <div class="section-title">
                                    신랑 정보
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                신랑님의 성함과 가족 정보를 입력하는 영역이에요
                            </div>
                        </div>
                        <div class="contents2">
                            <div class="IllustImg">
                                <img src="../Resource/mainasset/illust_Bride.png" alt="">
                            </div>
                            <div class="contents_detail">
                                <!-- 신랑 정보 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신랑 성함 (필수)</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="GroomFirstNameInput" name="base" type="base"
                                                onkeyup="printGroomFirst()" placeholder="성"
                                                value="<%= Templatedata.data.groom_first_name %>">
                                            <input class="base" id="GroomLastNameInput" name="base" type="base"
                                                onkeyup="printGroomLast()" placeholder="이름"
                                                value="<%= Templatedata.data.groom_last_name %>">
                                        </div>
                                        <select class="selectboxname" name="Groom" id="SelectGroomRelationship"
                                            onchange="handleOnChange(this)">
                                            <option value="아들" <% if (Templatedata.data.select_groom_relationship==='아들'
                                                ) { %>selected<% } %>>아들</option>
                                            <option value="장남" <% if (Templatedata.data.select_groom_relationship==='장남'
                                                ) { %>selected<% } %>>장남</option>
                                            <option value="차남" <% if (Templatedata.data.select_groom_relationship==='차남'
                                                ) { %>selected<% } %>>차남</option>
                                            <option value="삼남" <% if (Templatedata.data.select_groom_relationship==='삼남'
                                                ) { %>selected<% } %>>삼남</option>
                                            <option value="사남" <% if (Templatedata.data.select_groom_relationship==='사남'
                                                ) { %>selected<% } %>>사남</option>
                                            <option value="오남" <% if (Templatedata.data.select_groom_relationship==='오남'
                                                ) { %>selected<% } %>>오남</option>
                                            <option value="육남" <% if (Templatedata.data.select_groom_relationship==='육남'
                                                ) { %>selected<% } %>>육남</option>
                                            <option value="칠남" <% if (Templatedata.data.select_groom_relationship==='칠남'
                                                ) { %>selected<% } %>>칠남</option>
                                            <option value="팔남" <% if (Templatedata.data.select_groom_relationship==='팔남'
                                                ) { %>selected<% } %>>팔남</option>
                                            <option value="막내" <% if (Templatedata.data.select_groom_relationship==='막내'
                                                ) { %>selected<% } %>>막내</option>
                                            <option value="조카" <% if (Templatedata.data.select_groom_relationship==='조카'
                                                ) { %>selected<% } %>>조카</option>
                                            <option value="손자" <% if (Templatedata.data.select_groom_relationship==='손자'
                                                ) { %>selected<% } %>>손자</option>
                                            <option value="동생" <% if (Templatedata.data.select_groom_relationship==='동생'
                                                ) { %>selected<% } %>>동생</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 아버님 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신랑 아버님</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="GroomFatherFirstNameInput" name="base" type="base"
                                                onkeyup="printGroomFatherFirst()" placeholder="성"
                                                value="<%= Templatedata.data.groom_father_firstname %>">
                                            <input class="base" id="GroomFatherLastNameInput" name="base" type="base"
                                                onkeyup="printGroomFatherLast()" placeholder="이름"
                                                value="<%= Templatedata.data.groom_father_lastname %>">
                                        </div>
                                        <div class="checkselection">
                                            <select disabled class="innerselectbox" id="Groomfatherstatustype"
                                                onchange="handleOnChange(this)">
                                                <option value="故" <% if (Templatedata.data.groom_father_status==='故' ) {
                                                    %>selected<% } %>>故</option>
                                                <option value="국화꽃" <% if
                                                    (Templatedata.data.groom_father_status_type==='국화꽃' ) { %>selected<%
                                                        } %>>국화꽃</option>
                                            </select>
                                            <div class="check_wrap">
                                                <input type="checkbox" id="Groomfatherstatus" <% if
                                                    (Templatedata.data.groom_father_status) { %>checked<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 어머님 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신랑 어머님</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="GroomMotherFirstNameInput" name="base" type="base"
                                                onkeyup="printGroomMotherFirst()" placeholder="성"
                                                value="<%= Templatedata.data.groom_mother_firstname %>">
                                            <input class="base" id="GroomMotherLastNameInput" name="base" type="base"
                                                onkeyup="printGroomMotherLast()" placeholder="이름"
                                                value="<%= Templatedata.data.groom_mother_lastname %>">
                                        </div>
                                        <div class="checkselection">
                                            <select disabled class="innerselectbox" id="Groommotherstatustype"
                                                onchange="handleOnChange(this)">
                                                <option value="故" <% if (Templatedata.data.groom_mother_status==='故' ) {
                                                    %>selected<% } %>>故</option>
                                                <option value="국화꽃" <% if (Templatedata.data.groom_mother_status==='국화꽃'
                                                    ) { %>selected<% } %>>국화꽃</option>
                                            </select>
                                            <div class="check_wrap">
                                                <input type="checkbox" id="Groommotherstatus" <% if
                                                    (Templatedata.data.groom_mother_status) { %>checked<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section 신부측 정보 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #4
                                </div>
                                <div class="section-title">
                                    신부 정보
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                신부님의 성함과 가족 정보를 입력하는 영역이에요
                            </div>
                        </div>
                        <div class="contents2">
                            <div class="IllustImg">
                                <img src="../Resource/mainasset/illust_Bride.png" alt="">
                            </div>
                            <div class="contents_detail">
                                <!-- 신부 정보 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신부 성함 (필수)</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="BrideFirstNameInput" name="base" type="base"
                                                onkeyup="printBrideFirst()" placeholder="성"
                                                value="<%= Templatedata.data.bride_firstname %>">
                                            <input class="base" id="BrideLastNameInput" name="base" type="base"
                                                onkeyup="printBrideLast()" placeholder="이름"
                                                value="<%= Templatedata.data.bride_lastname %>">
                                        </div>
                                        <select class="selectboxname" name="Bride" id="SelectBrideRelationship"
                                            onchange="handleOnChange(this)">
                                            <option value="딸" <% if (Templatedata.data.select_bride_relationship==='딸' )
                                                { %>selected<% } %>>딸</option>
                                            <option value="장녀" <% if (Templatedata.data.select_bride_relationship==='장녀'
                                                ) { %>selected<% } %>>장녀</option>
                                            <option value="차녀" <% if (Templatedata.data.select_bride_relationship==='차녀'
                                                ) { %>selected<% } %>>차녀</option>
                                            <option value="삼녀" <% if (Templatedata.data.select_bride_relationship==='삼녀'
                                                ) { %>selected<% } %>>삼녀</option>
                                            <option value="사녀" <% if (Templatedata.data.select_bride_relationship==='사녀'
                                                ) { %>selected<% } %>>사녀</option>
                                            <option value="오녀" <% if (Templatedata.data.select_bride_relationship==='오녀'
                                                ) { %>selected<% } %>>오녀</option>
                                            <option value="육녀" <% if (Templatedata.data.select_bride_relationship==='육녀'
                                                ) { %>selected<% } %>>육녀</option>
                                            <option value="칠녀" <% if (Templatedata.data.select_bride_relationship==='칠녀'
                                                ) { %>selected<% } %>>칠녀</option>
                                            <option value="팔녀" <% if (Templatedata.data.select_bride_relationship==='팔녀'
                                                ) { %>selected<% } %>>팔녀</option>
                                            <option value="막내" <% if (Templatedata.data.select_bride_relationship==='막내'
                                                ) { %>selected<% } %>>막내</option>
                                            <option value="조카" <% if (Templatedata.data.select_bride_relationship==='조카'
                                                ) { %>selected<% } %>>조카</option>
                                            <option value="손자" <% if (Templatedata.data.select_bride_relationship==='손자'
                                                ) { %>selected<% } %>>손자</option>
                                            <option value="동생" <% if (Templatedata.data.select_bride_relationship==='동생'
                                                ) { %>selected<% } %>>동생</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 신부 아버님 정보 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신부 아버님</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="BrideFatherFirstNameInput" name="base" type="base"
                                                onkeyup="printBrideFatherFirst()" placeholder="성"
                                                value="<%= Templatedata.data.bride_father_firstname %>">
                                            <input class="base" id="BrideFatherLastNameInput" name="base" type="base"
                                                onkeyup="printBrideFatherLast()" placeholder="이름"
                                                value="<%= Templatedata.data.bride_father_lastname %>">
                                        </div>
                                        <div class="checkselection">
                                            <select disabled class="innerselectbox" id="Bridefatherstatustype"
                                                onchange="handleOnChange(this)">
                                                <option value="故" <% if (Templatedata.data.bride_father_status==='故' ) {
                                                    %>selected<% } %>>故</option>
                                                <option value="국화꽃" <% if (Templatedata.data.bride_father_status==='국화꽃'
                                                    ) { %>selected<% } %>>국화꽃</option>
                                            </select>
                                            <div class="check_wrap">
                                                <input type="checkbox" id="Bridefatherstatus" <% if
                                                    (Templatedata.data.bride_father_status) { %>checked<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 신부 어머님 정보 -->
                                <div class="selectbox_detail">
                                    <label class="selectbox_label" for="file">신부 어머님</label>
                                    <div class="NameBox">
                                        <div class="inputtype1">
                                            <input class="base" id="BrideMotherFirstNameInput" name="base" type="base"
                                                onkeyup="printBrideMotherFirst()" placeholder="성"
                                                value="<%= Templatedata.data.bride_mother_firstname %>">
                                            <input class="base" id="BrideMotherLastNameInput" name="base" type="base"
                                                onkeyup="printBrideMotherLast()" placeholder="이름"
                                                value="<%= Templatedata.data.bride_mother_lastname %>">
                                        </div>
                                        <div class="checkselection">
                                            <select disabled class="innerselectbox" id="Bridemotherstatustype"
                                                onchange="handleOnChange(this)">
                                                <option value="故" <% if (Templatedata.data.bride_mother_status==='故' ) {
                                                    %>selected<% } %>>故</option>
                                                <option value="국화꽃" <% if (Templatedata.data.bride_mother_status==='국화꽃'
                                                    ) { %>selected<% } %>>국화꽃</option>
                                            </select>
                                            <div class="check_wrap">
                                                <input type="checkbox" id="Bridemotherstatus" <% if
                                                    (Templatedata.data.bride_mother_status) { %>checked<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Section 예식 정보 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #5
                                </div>
                                <div class="section-title">
                                    예식 정보
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                진행 예정이신 예식 정보를 기입 해주세요
                            </div>
                        </div>
                        <div class="contents_detail">

                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">예식 일자</label>
                                <input type="date" id="date" onchange="dateChange()"
                                    value="<%= Templatedata.data.wedding_date %>">
                                <div class="InputArea">
                                    <div class="ToggleUI">
                                        <div class="ToggleTitle">
                                            D-Day 표시
                                        </div>
                                        <label for="toggle"
                                            class="toggleSwitch <% if (Templatedata.data.dday_toggle === 1) { %>Active<% } %>"
                                            id="DDay">
                                            <span class="toggleButton" id=""></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- 예식 시간 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">예식 시간</label>
                                <div class="NameBox">
                                    <select class="selectboxname" name="" id="SelectAMPM"
                                        onchange="handleOnChange(this)">
                                        <option value="오후" <% if (Templatedata.data.wedding_AMPM==='오후' ) { %>selected<%
                                                } %>>오후</option>
                                        <option value="오전" <% if (Templatedata.data.wedding_AMPM==='오전' ) { %>selected<%
                                                } %>>오전</option>
                                    </select>
                                    <select class="selectboxname" name="" id="SelectTime"
                                        onchange="handleOnChange(this)">
                                        <option value="1시" <% if (Templatedata.data.wedding_time==='1시' ) { %>selected<%
                                                } %>>1시</option>
                                        <option value="2시" <% if (Templatedata.data.wedding_time==='2시' ) { %>selected<%
                                                } %>>2시</option>
                                        <option value="3시" <% if (Templatedata.data.wedding_time==='3시' ) { %>selected<%
                                                } %>>3시</option>
                                        <option value="4시" <% if (Templatedata.data.wedding_time==='4시' ) { %>selected<%
                                                } %>>4시</option>
                                        <option value="5시" <% if (Templatedata.data.wedding_time==='5시' ) { %>selected<%
                                                } %>>5시</option>
                                        <option value="6시" <% if (Templatedata.data.wedding_time==='6시' ) { %>selected<%
                                                } %>>6시</option>
                                        <option value="7시" <% if (Templatedata.data.wedding_time==='7시' ) { %>selected<%
                                                } %>>7시</option>
                                        <option value="8시" <% if (Templatedata.data.wedding_time==='8시' ) { %>selected<%
                                                } %>>8시</option>
                                        <option value="9시" <% if (Templatedata.data.wedding_time==='9시' ) { %>selected<%
                                                } %>>9시</option>
                                        <option value="10시" <% if (Templatedata.data.wedding_time==='10시' ) { %>selected
                                            <% } %>>10시
                                        </option>
                                        <option value="11시" <% if (Templatedata.data.wedding_time==='11시' ) { %>selected
                                            <% } %>>11시
                                        </option>
                                        <option value="12시" <% if (Templatedata.data.wedding_time==='12시' ) { %>selected
                                            <% } %>>12시
                                        </option>
                                    </select>
                                    <select class="selectboxname" name="" id="SelectMinute"
                                        onchange="handleOnChange(this)">
                                        <option value="00분" <% if (Templatedata.data.wedding_minute==='00분' ) { %>
                                            selected<% } %>>00분</option>
                                        <option value="10분" <% if (Templatedata.data.wedding_minute==='10분' ) { %>
                                            selected<% } %>>10분</option>
                                        <option value="20분" <% if (Templatedata.data.wedding_minute==='20분' ) { %>
                                            selected<% } %>>20분</option>
                                        <option value="30분" <% if (Templatedata.data.wedding_minute==='30분' ) { %>
                                            selected<% } %>>30분</option>
                                        <option value="40분" <% if (Templatedata.data.wedding_minute==='40분' ) { %>
                                            selected<% } %>>40분</option>
                                        <option value="50분" <% if (Templatedata.data.wedding_minute==='50분' ) { %>
                                            selected<% } %>>50분</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 예식장 이름 입력 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">예식장 명</label>
                                <div class="NameBox">
                                    <input class="base" id="WeddingLocateTitleInput" name="base" type="base"
                                        onkeyup="WeddingLocationInput()" placeholder="예식장 이름을 입력해주세요"
                                        value="<%= Templatedata.data.wedding_location %>">
                                </div>
                            </div>

                            <!-- 예식장 홀,층수 입력 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">예식장 층과 홀</label>
                                <div class="NameBox">
                                    <input class="base" id="WeddingHallInfoInput" name="base" type="base"
                                        onkeyup="WeddingHallInfoInput()" placeholder="예식장 층과 홀 이름을 입력"
                                        value="<%= Templatedata.data.wedding_location_hall %>">
                                </div>
                            </div>
                            <!-- 예식장 주소 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">예식장 주소</label>
                                <div class="InputArea">
                                    <div class="NameBox">
                                        <input class="base" id="SearchAddressInput" name="base" type="base"
                                            placeholder="주소 검색을 먼저 해주세요"
                                            value="<%= Templatedata.data.wedding_address %>">
                                        <button class="BtnBasic" id="SearchAddressBtn">
                                            주소 검색
                                        </button>
                                    </div>
                                    <!-- 네이버 지도 API -->
                                    <div class="map_area">
                                        <div class="mapinfo" id="map"></div>
                                        <div class="mapdes">마커를 드래그하여 위치를 옮길 수 있습니다.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Section 초대글 정보 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #6
                                </div>
                                <div class="section-title">
                                    초대 글
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                초대 문구 작성이 어렵다면, 샘플 텍스트 보기를 통해 초대 문구를 간편히 작성할 수 있어요
                            </div>
                        </div>
                        <div class="contents_detail">
                            <!-- 초대 글 제목 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">초대 글 제목</label>
                                <div class="NameBox">
                                    <input class="base" id="InviteTitleInput" name="base" type="base"
                                        onkeyup="printInvite()" placeholder="초대합니다"
                                        value="<%= Templatedata.data.invite_title %>">
                                </div>
                            </div>

                            <!-- 초대 글 내용 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">샘플 텍스트 보기</label>
                                <div class="InputArea">

                                    <div class="NameBox">
                                        <textarea class="TextBox" id="TextBoxInput" cols="50" rows="10" pattern="[^\s]+"
                                            required placeholder="초대 글 내용 입력"
                                            onkeyup="printInviteBody()"><%= Templatedata.data.invite_body %></textarea>
                                    </div>

                                    <div class="custom-select-container" id="custom-select-container-invite">

                                        <select class="custom-select" id="custom-select-invite">
                                            <option value="샘플 텍스트보기 1">샘플 텍스트보기 1</option>
                                            <option value="샘플 텍스트보기 2">샘플 텍스트보기 2</option>
                                            <option value="샘플 텍스트보기 3">샘플 텍스트보기 3</option>
                                            <option value="샘플 텍스트보기 4">샘플 텍스트보기 4</option>
                                        </select>

                                        <div class="custom-options" id="custom-options-invite">
                                            <div class="custom-option" data-value="샘플 텍스트보기 1">
                                                <div class="OptionTitle">
                                                    샘플 텍스트보기 1
                                                </div>
                                                <div class="optiondecription">평생을 함께하고 싶은 사람이 생겼습니다.
                                                    처음처럼 변치않는 마음으로 서로 아끼며
                                                    예쁘게 살겠습니다.
                                                    부디 함께하시어
                                                    저희의 하나됨을 따듯한 미소로
                                                    축복해주시기를 바랍니다.</div>
                                            </div>

                                            <div class="custom-option" data-value="샘플 텍스트보기 1">
                                                <div class="OptionTitle">
                                                    샘플 텍스트보기 2
                                                </div>
                                                <div class="optiondecription">평생을 같이 하고 싶은 사람을 만났습니다.
                                                    서로 아껴주고 이해하며
                                                    사랑하는 부부로 살고자 합니다.
                                                    저희 약속 위에 따뜻한 축복해주시어
                                                    힘찬 출발의 디딤이 되어 주십시오.
                                                </div>
                                            </div>

                                            <div class="custom-option" data-value="샘플 텍스트보기 1">
                                                <div class="OptionTitle">
                                                    샘플 텍스트보기 3
                                                </div>
                                                <div class="optiondecription">평생을 함께하고 싶은 사람이 생겼습니다.
                                                    처음처럼 변치않는 마음으로 서로 아끼며
                                                    예쁘게 살겠습니다.
                                                    부디 함께하시어
                                                    저희의 하나됨을 따듯한 미소로
                                                    축복해주시기를 바랍니다.</div>
                                            </div>

                                            <div class="custom-option" data-value="샘플 텍스트보기 1">
                                                <div class="OptionTitle">
                                                    샘플 텍스트보기 4
                                                </div>
                                                <div class="optiondecription">평생을 함께하고 싶은 사람이 생겼습니다.
                                                    처음처럼 변치않는 마음으로 서로 아끼며
                                                    예쁘게 살겠습니다.
                                                    부디 함께하시어
                                                    저희의 하나됨을 따듯한 미소로
                                                    축복해주시기를 바랍니다.</div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section 계좌 정보 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #7
                                </div>
                                <div class="section-title">
                                    계좌 정보
                                </div>
                            </div>
                            <div class="sectionBack">

                                    <div class="ToggleTitle">
                                        계좌 정보 펼쳐두기
                                    </div>
                                    <label for="toggle" class="toggleSwitch" id="AccountFold">
                                        <span class="toggleButton" id=""></span>
                                    </label>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                신랑 / 신부님 외에도 '계좌번호 추가하기' 를 눌러 혼주분들의 계좌도 추가하실 수 있어요
                            </div>
                        </div>
                        <div class="contents_detail">
                            <!-- 신랑 정보 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">계좌 그룹 선택</label>
                                <div class="InputArea">
                                    <div class="custom-select-container" id="custom-select-container-invite">
                                        <input class="custom-select" type="text" name="" id="custom-select-account" value="신랑측 계좌번호" onkeyup="updateOptionValue()">

                                        <div class="custom-options" id="custom-options-account" onclick="">
                                            <div class="custom-option-childGroup" id="custom-option-childGroup-account">
                                                <div class="custom-option selected" id="optionAccount" data-value="신랑측 계좌번호">
                                                    <div class="optiondecription">신랑측 계좌번호</div>
                                                    <div class="DeleteAccountGroupBtn">
                                                        <img src="../Resource/assets/Icon/Del.svg" alt="" class="delIcon">
                                                    </div>
                                                </div>

                                                <div class="custom-option" id="optionAccount" data-value="신부측 계좌번호">
                                                    <div class="optiondecription">신부측 계좌번호</div>
                                                    <div class="DeleteAccountGroupBtn">
                                                        <img src="../Resource/assets/Icon/Del.svg" alt="" class="delIcon">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bordercontentsline-sm"></div>

                                            <div class="optionAccountAdd" id="optionAccountAdd" data-value="계좌그룹">
                                                <div class="optiondecription">새 계좌그룹 추가하기</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="AccountGroup" id="AccountGroup">
                                <!-- 그룹 명 -->
                                <!-- 구분선 -->
                                <div class="bordercontentsline"></div>
                                <div class="AccountItem" id="AccountItem1">
                                    <div class="DetailItem">
                                        <!-- 그룹명 -->
                                        <div class="selectbox_detail">
                                            <label class="selectbox_label" for="file">계좌번호</label>
                                            <div class="InputArea">
                                                <div class="AccountInputGroups">

                                                    <% for (let i = 0; i < Templatedata.data.accountInfoData.length; i++) { %>
                                                        <% if (Templatedata.data.accountInfoData[i].accordionTitle && i === 0) { %>
                                                          <% console.log(Templatedata.data.accountInfoData[i].innerData.length); %>
                                                          <% for (let j = 0; j < Templatedata.data.accountInfoData[i].innerData.length; j++) { %>
                                                            <div class="AccountInputs">
                                                              <div class="NameBox">
                                                                <input class="base" id="bank_nameTerms_Input" name="base" type="base"
                                                                  onkeyup="printBankNameTerms()" placeholder="호칭"
                                                                  value="<%= Templatedata.data.accountInfoData[i].innerData[j].bankNameTerms %>">
                                                                <input class="base" id="bank_holder_Input" name="base" type="base"
                                                                  onkeyup="printBankHolderInfo()" placeholder="예금주"
                                                                  value="<%= Templatedata.data.accountInfoData[i].innerData[j].holderInfo %>">
                                                                <input class="base" id="bank_bankName_Input" name="base" type="base"
                                                                  onkeyup="printBankName()" placeholder="은행"
                                                                  value="<%= Templatedata.data.accountInfoData[i].innerData[j].bankBankName %>">
                                                                <input class="base" id="bank_accountInfo_Input" name="base" type="base"
                                                                  onkeyup="printBankAccountInfo()" placeholder="계좌번호"
                                                                  value="<%= Templatedata.data.accountInfoData[i].innerData[j].bankAccountInfo %>">
                                                                <div class="DeleteAccountBtn">
                                                                  <img src="../Resource/assets/Icon/Del.svg" alt="" class="delIcon">
                                                                </div>
                                                              </div>
                                                            </div>
                                                          <% } %>
                                                        <% } %>
                                                      <% } %>
                                                      
                                                      
                                                      
                                                      

                                                </div>

                                                <div class="bordercontentsline-Sm"></div>
                                                <div class="addcount">
                                                    <button class="BtnBasic" id="AddAccountBtn">계좌번호 추가하기</button>
                                                </div>              
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                    <!-- Section 사진 갤러리 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #8
                                </div>
                                <div class="section-title">
                                    이미지 갤러리
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                갤러리에 신랑 신부님의 아름다운 사진들을 추가해 보세요
                            </div>
                        </div>
                        <div class="contents_detail">
                            <!-- 갤러리 타입 선택 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="pet-select">갤러리 타입</label>
                                <div class="TabUI">
                                    <ul class="TabListGallery">
                                        <li class="TabItemGallery <% if (Templatedata.data.gallery_type === 'BoardType' || Templatedata.data.theme_type === '' || Templatedata.data.theme_type === null) { %>Active<% } %>"
                                            id="BoardType">바둑판형 갤러리</li>
                                        <li class="TabItemGallery <% if (Templatedata.data.gallery_type === 'SlideType') { %>Active<% } %>"
                                            id="SlideType">슬라이드형 갤러리</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 사진 다중업로드 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label">
                                    사진
                                </label>

                                <div class="gallerypreview">
                                    <label class="ImgGroupUpload_Btn" for="ImgBtn">
                                        <input type="file" id="ImgBtn" name="images" multiple="multiple"
                                            enctype="multipart/form-data" class="form-control user_picked_files"
                                            accept="image/jpeg, image/png, image/jpg">

                                        <div class="galleryupload">
                                            <label class="attatch" for="ImgBtn">첨부할 파일을 여기에 끌어서 추가할 수 있어요</label>
                                            <div class="info">(30장까지 추가 하실 수 있어요)</div>
                                        </div>
                                    </label>
                                    <% const imgGroupData=JSON.parse(Templatedata.data.img_group_element); %>
                                        <ul class="cvf_uploaded_files">
                                            <% if (imgGroupData && imgGroupData===! '[""]' || imgGroupData) { %>
                                                <% imgGroupData.forEach((imgUrl)=> { %>
                                                    <li class='multiimg' id="multiimg_<%= imgUrl %>"
                                                        file="<%= imgUrl %>">
                                                        <img class='img-thumb' src="<%= imgUrl %>" />
                                                        <a href='' class='cvf_delete_image' id='deleteimg_<%= imgUrl %>'
                                                            file="<%= imgUrl %>" title='Cancel'><img class='delete-btn'
                                                                src='../Resource/assets/Icon/Delete.svg' /></a>
                                                    </li>
                                                    <% }) %>
                                                        <% } %>
                                        </ul>
                                </div>
                            </div>

                            <!-- 확대방지 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">확대방지</label>
                                <div class="InputArea">
                                    <div class="ToggleUI">
                                        <div class="ToggleTitle">
                                            이미지 확대 및 다운로드를 방지합니다
                                        </div>
                                        <label for="toggle" class="toggleSwitch" id="BanFocus">
                                            <span class="toggleButton"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section 방명록 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #9
                                </div>
                                <div class="section-title">
                                    방명록
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                방명록에서는 하객분들께서 신랑신부님을 메시지로 축하할 수 있어요
                            </div>
                        </div>
                        <div class="contents_detail">

                            <!-- 청첩장 URL 입력란 -->
                            <div class="selectbox_detail">
                                <label class="selectbox_label" for="file">비밀번호</label>
                                <div class="InputArea">
                                    <div class="NameBox">
                                        <input class="base" id="boardpassword" name="base" type="base"
                                            onkeyup="printGroom()" placeholder="삭제 비밀번호"
                                            value="<%= Templatedata.data.board_password %>">
                                    </div>
                                    <div class="info">※ 방명록을 삭제할 때 필요한 비밀번호에요</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Section 순서 변경 -->
                    <div class="DesignSection">
                        <div class="section">
                            <div class="sectionFront">
                                <div class="section-mark">
                                    #10
                                </div>
                                <div class="section-title">
                                    순서 변경
                                </div>
                            </div>
                        </div>
                        <div class="borderline"></div>
                        <div class="coachmark">
                            <div class="MarkIcon">
                                💡
                            </div>
                            <div class="MarkText">
                                드래그 하여 청첩장 노출 순서를 변경하실 수 있어요
                            </div>
                        </div>
                        <div class="contents_detail">
                            <!-- 순서변경 -->
                            <div class="selectbox_detail">
                                <div class="ToggleSection">
                                    <div class="selectbox_detail">
                                        <div class="ToggleArea">
                                            <% const orderTabData=JSON.parse(Templatedata.data.order_tab); %>
                                                <% orderTabData.forEach((item)=> { %>
                                                    <div class="ToggleUI" data-id="<%= item['data-id'] %>">
                                                        <div class="ToggleTitle">
                                                            <% if (item['class']==='InviteArea' ||
                                                                item['class']==='InviteArea is-visible' ) { %>
                                                                초대합니다
                                                                <% } else if (item['class']==='sec_cal' ||
                                                                    item['class']==='sec_cal is-visible' ) { %>
                                                                    캘린더
                                                                    <% } else if (item['class']==='GalleryArea' ||
                                                                        item['class']==='GalleryArea is-visible' ) { %>
                                                                        갤러리
                                                                        <% } else if (item['class']==='LocationSection'
                                                                            ||
                                                                            item['class']==='LocationSection is-visible'
                                                                            ) { %>
                                                                            식장위치
                                                                            <% } else if
                                                                                (item['class']==='AccountSection' ||
                                                                                item['class']==='AccountSection is-visible'
                                                                                ) { %>
                                                                                계좌번호
                                                                                <% } else if
                                                                                    (item['class']==='BoardSection' ||
                                                                                    item['class']==='BoardSection is-visible'
                                                                                    ) { %>
                                                                                    방명록
                                                                                    <% } else { %>
                                                                                        <%= item['class'] %>
                                                                                            <% } %>
                                                        </div>
                                                        <div class="orderlist">
                                                            <img class="MenuIcon" src="../Resource/assets/Icon/menu.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="BottomNavigation">
            <div class="BottomNavInnerWrap">
                <div class="Progress">
                    <!-- <div class="ProgressDes">포먼트에서는 누구나 무료로 청첩장을 만들어 보실 수 있어요</div> -->
                </div>
                <div class="NavButtonGroups">
                    <button class="ProgressTemporarySave">청첩장 미리보기</button>
                    <button class="ProgressSave" id="SavedBtn">청첩장 저장하기</button>
                </div>
            </div>
        </div>

</body>

</html>