<div class="side_contents">
    <div class="TitleSection">
        <!-- 오디오 조정 -->
        <div class="AudioPlayPause">
            <div class="AudioControl">
                <img src="../Resource/assets/Icon/BtnPlay.svg" class="audiobutton" id="button">
                <img src="../Resource/assets/Icon/BtnPause.svg" class="audiobutton" id="buttonpause">
            </div>
        </div>
        <!-- 타이틀 -->
        <div class="TitleSectionWrap">
            <div class="TitleDeco">
                <img class="DecorationImg" src="../Resource/assets/Icon/deco.svg" alt="">
            </div>
            <div class="BrideGroom">
                <div class="GroomName">
                    <span class="WeddingTitleText" id="GroomFirstName">
                        <%= Templatedata.data.groom_first_name || '신랑' %>
                    </span>
                    <span class="WeddingTitleText" id="GroomLastName">
                        <%= Templatedata.data.groom_last_name || '이름' %>
                    </span>
                </div>
                <div class="BridgeText">
                    <span class="WeddingBodyText" id="">
                        그리고
                    </span>
                </div>
                <div class="BrideName">
                    <span class="WeddingTitleText" id="BrideFirstName">
                        <%= Templatedata.data.bride_firstname || '신부' %>
                    </span>
                    <span class="WeddingTitleText" id="BrideLastName">
                        <%= Templatedata.data.bride_lastname || '이름' %>
                    </span>
                </div>
            </div>
        </div>

        <!-- 대표이미지 -->
        <div class="image-container">
            <div class="preview">
                <div class="previewframe">
                    <div class="VideoEffect">
                        <img class="effects" src="../Resource/assets/Effect/effect_cherryblossom.png">
                        <video class="audio" src="" autoplay="autoplay" loop="loop"></video>
                    </div>
                    <div class="innerframe"></div>
                    <% if (Templatedata.data.title_upload_img===null) { %>
                        <img id="preview-image" src="/Resource/mainasset/WeddingTitleImg.jpg">
                        <% } else { %>
                            <img id="preview-image" src="<%= Templatedata.data.title_upload_img %>">
                            <% } %>

                </div>
            </div>
        </div>

        <!-- 웨딩날짜&장소 -->
        <div class="WeddingDateLocation">
            <div class="DateLocation">
                <div class="WeddingBodyText">
                    <!-- 서버로부터 웨딩날짜 데이터를 가져와서 가공 -->
                    <% let weddingDate=Templatedata.data.wedding_date; let MonthSlice, DateSlice, DateData;
                        if(weddingDate){ MonthSlice=weddingDate.split(' ')[0];
                        DateSlice = weddingDate.split(' ')[1];
                        DateData = MonthSlice + ' ' + DateSlice;
                    }
                    let DayData = weddingDate ? weddingDate.split(' ')[2] : '';
                    %>
                    
                    <span class="WeddingDate" id="WeddingDateTitle">
                        <%
                        let date = new Date();
                        let utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000);
                        let kstGap = 9 * 60 * 60 * 1000;
                        let today = new Date(utc + kstGap);
                    
                        let thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
                        let days = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
                        let currentday = days[today.getDay()];
                    
                        let currentYear = thisMonth.getFullYear(); // 달력 연도
                        let currentMonth = thisMonth.getMonth() + 1; // 달력 월
                        let currentDate = thisMonth.getDate(); // 달력 일
                    
                        let weddingDateData = DateData ? DateData : (currentMonth + ' 월 ' + currentDate + ' 일'); %>
                        <%= weddingDateData %>
                            </span>



                            <span class="WeddingDay" id="WeddingDayTitle">
                                <%= DayData || currentday %>
                            </span>
                            <span class="AMPM" id="AMPM">
                                <%= Templatedata.data.wedding_AMPM %>
                            </span>
                            <span class="WeddingTime" id="WeddingTime">
                                <%= Templatedata.data.wedding_time %>
                            </span>
                            <span class="WeddingMinute" id="WeddingMinute">
                                <%= Templatedata.data.wedding_minute %>
                            </span>
                </div>
                <div class="WeddingLocate">
                    <div class="WeddingBodyText" id="WeddingLocateTitle">
                        <%= Templatedata.data.wedding_location || '서울숲 보테가마지오' %>
                    </div>
                    <div class="WeddingBodyText" id="WeddingHallInfo">
                        <%= Templatedata.data.wedding_location_hall || '로스타뇨홀 2F' %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="OrderSection">
        <!-- 청첩장 순서 변경 -->
        <% const orderTabArray=JSON.parse(Templatedata.data.order_tab); %>
            <% orderTabArray.forEach(item=> { %>
                <% const { class: className, 'data-id' : dataId }=item; %>
                    <% if (dataId==='Toggle_Invite' ) { %>
                        <div class="<%= className %>" data-id="<%= dataId %>">
                            <!-- 초대문구 -->
                            <div class="InviteContentsArea">
                                <div class="TabContent Active" id="Tab-1">
                                    <div class="InvitationTextArea">
                                        <div class="WeddingTitleText" id="InviteTitle">
                                            <%= Templatedata.data.invite_title || '초대합니다' %>
                                        </div>
                                        <div class="WeddingBodyText" id="InviteBodyText">
                                            <div class="WeddingBodyText" id="InviteBodyText">
                                                <div class="WeddingBodyText" id="InviteBodyText">
                                                    <% const inviteBody=Templatedata.data.invite_body
                                                        || '평생을 함께하고 싶은 사람이 생겼습니다.<br>처음처럼 변치않는 마음으로 서로 아끼며<br>예쁘게 살겠습니다.<br>부디 함께하시어<br>저희의 하나됨을 따듯한 미소로<br>축복해주시기를 바랍니다.'
                                                        ; %>
                                                        <%- inviteBody %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="TabContent" id="Tab-2">
                                    <div class="InvitationTextArea">
                                        <div class="WeddingBodyTitle">
                                            이제 함께 하려합니다.
                                        </div>
                                        <div class="WeddingBodyText">
                                            평생을 같이 하고 싶은 사람을 만났습니다.<br>서로 아껴주고 이해하며 사랑하는 부부로 살고자 합니다.<br>저희 약속 위에
                                            따뜻한 축복해주시어
                                            힘찬 출발의 디딤이 되어 주십시오. <br>참석해 주셔서 함께 축복해주시면 감사하겠습니다.<br> 신랑 신부 올림
                                        </div>
                                    </div>
                                </div>
                                <div class="TabContent" id="Tab-3">
                                    <div class="InvitationTextArea">
                                        <div class="WeddingBodyTitle">
                                            초대합니다333333
                                        </div>
                                        <div class="WeddingBodyText">
                                            더 이상 헤어지는 길을 아쉬워하고 싶지 않습니다<br>오랜 만남 끝에 저희 둘이 하나 되는 날<br>귀한 분들을 모시고 평생의
                                            서약을 올리고자
                                            합니다. 저희의 첫 시작을
                                            내딛는 날<br>참석해 주셔서 함께 축복해주시면 감사하겠습니다.<br> 신랑 신부 올림
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 구분선 -->
                            <div class="DivDivider">
                                <div class="divider"></div>
                            </div>

                            <!-- 가족정보 -->
                            <div class="FamilyInfo" id="scrollFamilyinfo">
                                <div class="WeddingBodyText">
                                    <div class="GroomFamilyStatusInfo" id="GroomFamilyStatusInfo">
                                        <span class="statustype" id="GroomFatherStatusInfo"></span>
                                        <img class="ImgMum" id="GroomFatherMum" src="../Resource/assets/Icon/mum.png"
                                            alt="">
                                        <span id="GroomFatherFirstName">
                                            <%= Templatedata.data.groom_father_firstname || '김' %>
                                        </span><span id="GroomFatherLastName">
                                            <%= Templatedata.data.groom_father_firstname || '덕환' %>
                                        </span>
                                        <span class="dot">∙</span>
                                        <img class="ImgMum" id="GroomMotherMum" src="../Resource/assets/Icon/mum.png"
                                            alt="">
                                        <span class="statustype" id="GroomMotherStatusInfo"></span>
                                        <span id="GroomMotherFirstName">
                                            <%= Templatedata.data.groom_mother_firstname || '조' %>
                                        </span><span id="GroomMotherLastName">
                                            <%= Templatedata.data.groom_mother_lastname || '희연' %>
                                        </span>
                                        <span class="relationship" id="GroomRelationship">
                                            <%='의 ' + Templatedata.data.select_groom_relationship %></span>
                            <span id="GroomFirstName2"><%= Templatedata.data.groom_first_name || ' 신랑' %>
                                        </span><span id="GroomLastName2">
                                            <%= Templatedata.data.groom_last_name || '이름' %>
                                        </span>
                                    </div>
                                </div>
                                <div class="WeddingBodyText">
                                    <div class="BrideFamilyStatusInfo" id="BrideFamilyStatusInfo">
                                        <span class="statustype" id="BrideFatherStatusInfo"></span>
                                        <img class="ImgMum" id="BrideFatherMum" src="../Resource/assets/Icon/mum.png"
                                            alt="">
                                        <span id="BrideFatherFirstName">
                                            <%= Templatedata.data.bride_father_firstname || '곽' %>
                                        </span>
                                        <span id="BrideFatherLastName">
                                            <%= Templatedata.data.bride_father_lastname || '상돈' %>
                                        </span>
                                        <span class="dot">∙</span>
                                        <span class="statustype" id="BrideMotherStatusInfo"></span>
                                        <img class="ImgMum" id="BrideMotherMum" src="../Resource/assets/Icon/mum.png"
                                            alt="">
                                        <span id="BrideMotherFirstName">
                                            <%= Templatedata.data.bride_mother_firstname || '최' %>
                                        </span>
                                        <span id="BrideMotherLastName">
                                            <%= Templatedata.data.bride_mother_lastname || '순자' %>
                                        </span>
                                        <span class="relationship" id="BrideRelationship">
                                            <%='의 ' + Templatedata.data.select_bride_relationship %></span>
                            <span id="BrideFirstName2"><%= Templatedata.data.bride_firstname || ' 신부' %>
                                        </span><span id="BrideLastName2">
                                            <%= Templatedata.data.bride_lastname || '이름' %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% } else if (dataId==='Toggle_Calendar' ) { %>
                            <!-- 캘린더 -->
                            <div class="sec_cal" data-id="Toggle_Calendar">
                                <div class="cal_nav">
                                    <div class="year-month" id="TextDateCalendar">
                                        <%= weddingDateData %>
                                    </div>
                                </div>
                                <div class="WeddingBodyText" id="CalDayTime">
                                    <span class="WeddingDay" id="CalWeddingDayTitle">
                                        <% let weddingDayData=DayData || currentday %>
                                            <%= weddingDayData %>
                                    </span>
                                    <span class="AMPM" id="CalAMPM">
                                        <%= Templatedata.data.wedding_AMPM || '오후' %>
                                    </span>
                                    <span class="WeddingTime" id="CalWeddingTime">
                                        <%= Templatedata.data.wedding_time || '1시' %>
                                    </span>
                                    <span class="WeddingMinute" id="CalWeddingMinute">
                                        <%= Templatedata.data.wedding_minute || '00분' %>
                                    </span>
                                </div>
                                <div class="cal_wrap">
                                    <div class="days">
                                        <div class="day">일</div>
                                        <div class="day">월</div>
                                        <div class="day">화</div>
                                        <div class="day">수</div>
                                        <div class="day">목</div>
                                        <div class="day">금</div>
                                        <div class="day">토</div>
                                    </div>
                                    <div class="dates"></div>
                                    <div class="WeddingBodyText">
                                        <div class="ddaysection">
                                            <div class="ddaytext1">결혼식이 </div>
                                            <div class="dday" id="dday">0일</div>
                                            <div class="ddaytext1">남았습니다.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% } else if (dataId==='Toggle_Gallery' ) { %>
                                <!-- 웨딩 갤러리 -->
                                <div class="GalleryArea" data-id="Toggle_Gallery">
                                    <div class="GalleryTitleArea">
                                        <div class="WeddingBodyTitle">
                                            갤러리
                                        </div>
                                        <div class="WeddingBodyText">
                                            GALLERY
                                        </div>
                                    </div>
                                    <% const imgGroupElement=JSON.parse(Templatedata.data.img_group_element); const
                                        displayGridClass=imgGroupElement.length> 0 ? 'style =display:grid;' : '';
                                        %>
                                        <ul class="grid-container" <%=displayGridClass %>>
                                            <% for (let i=0; i < imgGroupElement.length; i++) { %>
                                                <li class="grid-item" file="<%= imgGroupElement[i] %>">
                                                    <img class="grid-thumb" id="appendimg"
                                                        src="<%= imgGroupElement[i] %>" />
                                                </li>
                                                <% } %>
                                        </ul>

                                        <button class="BtnBasic" id="LoadMoreBtn">더 보기</button>
                                </div>

                                <% } else if (dataId==='Toggle_WeddingLocation' ) { %>
                                    <!-- 식장 위치 -->
                                    <div class="LocationSection" data-id="Toggle_WeddingLocation">
                                        <div class="WeddingTitleText" id="AddressTitle">
                                            식장 위치
                                        </div>
                                        <div class="WeddingLocate">
                                            <div class="WeddingBodyText" id="WeddingLocateTitleMap">
                                                <%= Templatedata.data.wedding_location || '서울숲 보테가마지오' %>
                                            </div>
                                            <div class="WeddingBodyText" id="WeddingHallInfoMap">
                                                <%= Templatedata.data.wedding_location_hall || '로스타뇨 홀 2F' %>
                                            </div>
                                        </div>
                                        <div class="WeddingBodyText" id="WeddingAddress">
                                            <%= Templatedata.data.wedding_address || '성동구 2가 1길 27' %>
                                        </div>
                                        <div class="map_area">
                                            <div class="mapinfo" id="map"></div>
                                            <div class="NavigationSection">
                                                <div class="NavigationItem" id="NaverNav">
                                                    <span class="NaverNavIcon"><img class="NavIcon"
                                                            src="../Resource/assets/Icon/icon_navermap.png"
                                                            alt=""></span>
                                                    <span>네이버 지도</span>
                                                </div>
                                                <div class="NavigationItem" id="KakaoNav">
                                                    <span class="KakaoNavIcon"><img class="NavIcon"
                                                            src="../Resource/assets/Icon/icon_kakaonavi.png"
                                                            alt=""></span>
                                                    <span>카카오 네비</span>
                                                </div>
                                                <div class="NavigationItem" id="TmapNav">
                                                    <span class="TmapNavIcon"><img class="NavIcon"
                                                            src="../Resource/assets/Icon/icon_tmap.png" alt=""></span>
                                                    <span>티맵</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <% } else if (dataId==='Toggle_Account' ) { %>
                                        <!--계좌번호 영역-->
                                        <div class="AccountSection" data-id="Toggle_Account">
                                            <div class="WeddingTitleText">
                                                마음 전하실 곳
                                            </div>
                                            <ul class="accordion">
                                                <li class="accordionitem" id="accordionitem1">
                                                    <div class="licontents">
                                                        <a href="#" class="accordion-title">신랑측 계좌번호</a>
                                                        <div class="accordion-content" id="accodion-content">
                                                            <div class="accodian-inner">
                                                                <div class="accodian-info">
                                                                    <div class="WeddingBodyText"
                                                                        id="accountinformation">
                                                                        계좌정보
                                                                    </div>
                                                                    <div class="accounttarget">
                                                                        <div class="WeddingBodyText" id="bankinfo">
                                                                            은행명</div>
                                                                        <div class="WeddingBodyText" id="holderinfo">예금주
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="accodian-btninfo">
                                                                    <button class="Btnsmall" id="copybtn">복사하기</button>
                                                                    <button class="Btnsmall" id="qrupload">QR코드</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordionitem" id="accordionitem2">
                                                    <div class="licontents">
                                                        <a href="#" class="accordion-title">신부측 계좌번호</a>
                                                        <div class="accordion-content" id="accodion-content">
                                                            <div class="accodian-inner">
                                                                <div class="accodian-info">
                                                                    <div class="WeddingBodyText"
                                                                        id="accountinformation">
                                                                        계좌정보
                                                                    </div>
                                                                    <div class="accounttarget">
                                                                        <div class="WeddingBodyText" id="bankinfo">
                                                                            은행명</div>
                                                                        <div class="WeddingBodyText" id="holderinfo">예금주
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="accodian-btninfo">
                                                                    <button class="Btnsmall" id="copybtn">복사하기</button>
                                                                    <button class="Btnsmall" id="qrupload">QR코드</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <% } else if (dataId==='Toggle_Board' ) { %>
                                            <!-- 방명록 -->
                                            <div class="BoardSection" data-id="Toggle_Board">
                                                <div class="WeddingTitleText">
                                                    방명록
                                                </div>
                                                <!-- 방명록 데이터 -->
                                                <div class="BoardArea">
                                                </div>
                                                                                    <div class="BoardControl">
                                                                                        <button class="BtnIcon"
                                                                                            id="BoardViewBtn">
                                                                                            <span>전체 보기</span>
                                                                                            <img class="BtnInnerIc"
                                                                                                src="../Resource/assets/Icon/menu.svg"
                                                                                                alt="">
                                                                                        </button>
                                                                                        <button class="BtnIcon"
                                                                                            id="BoardCreateBtn">
                                                                                            <span>작성하기</span>
                                                                                            <img class="BtnInnerIc"
                                                                                                src="../Resource/assets/Icon/Edit.svg"
                                                                                                alt="">
                                                                                        </button>
                                                                                    </div>
                                            </div>
                                            <% } %>
                                                <% }); %>
    </div>
    <!-- 공유 섹션 -->
    <div class="ShareSection">
        <button class="BtnIcon" id="KakaoShareBtn">
            <span>카카오톡으로 공유하기</span>
            <img class="BtnInnerIc" src="../Resource/assets/Icon/Kakao.svg" alt="">
        </button>
        <button class="BtnIcon" id="InviteAddressCopyBtn">
            <span>청첩장 주소 복사하기</span>
            <img class="BtnInnerIc" src="../Resource/assets/Icon/link.svg" alt="">
        </button>
    </div>

    <!-- 푸터 -->
    <div class="footer">
        <div class="logo">
            <img class="footerlogo" src="../Resource/Logo_Symbol.svg" alt="">
        </div>
        <div class="copyright">
            Copyright © Foment All rights reserved.
        </div>
    </div>
</div>